.movie-container{
    background:$violet-2;
    width:250px;
    border-radius: 20px;
    height:550px;
    margin: 0 10px 50px;
    position:relative;
    
    img{
        
        display:flex;
        padding:20px 0 10px;
        // width:150px;
         width:80%;
        height:250px;
        margin: 0 auto ;
        border-radius: 40px;
        
         object-fit: cover;
         object-position: center;
    }


    .content{
        padding-left:10px;
    }

    h3{
        color:$grey-2;
        line-height: 18px;
    }


    h4{
        color:$white-1;
    }


    span{
       
    }

    p{
        width:90%;
        text-overflow: clip;
        padding-top:3px;
        line-height: 15px;

        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:8;
        overflow:hidden;
    }

    .btn-fav{
        position:absolute;

        top:96%;
        left:50%;

        transform: translateX(-50%);

        width:170px;
        height:50px;

        
        font-family: $font-1;
        font-size: 1.1rem;
        color: $white-1;

        border:none;
        border-radius:20px;
        background:$red-1;
        box-shadow: 1px -4px 12px $blue-1;

        transition:0.18s ease-in-out;
        
        &:hover{
            
            width:175px;
            height:55px;
            font-size: 1.2rem;
            cursor: pointer;
            background:$grey-2;
        }

    }

    #remove{
        background:rgb(8, 131, 8);
    }

    .tag-container{

        display:flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: center;
        font-family: $font-1;
        margin:5px 0;
        color:$white-1;

        font-size: 0.75rem;

        
        li{
            background:rgb(152, 24, 237);
            border-radius:20px;
            margin: 5px 5px 5px 0px;
            padding:0 5px;
           
           
        }
    }

    
}